* {
	font-family: 'IBM Plex Sans KR', sans-serif;
}

#wrap{
	margin: 0 auto 0 auto
}
#locate{
	text-align: center;
}

.image-thumbnail {
    width: 100%;
	height: 400px;
	background: url("https://t1.daumcdn.net/cfile/tistory/9969F3395B9500290E") center no-repeat;
	background-size: cover;
	margin: 0;
}

footer{
	font-size:10px;
}



